{% extends "base.html" %}
{% load static %}
{% block title %}sign up {% endblock title %}


{% block body %}

<div action="/signup" class="container " >
    <div class="container "  >
        <form  method="POST">
            {% csrf_token %}
            <div class="mb-3"  >
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
            <div id="username" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" anme="email" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">mobile number</label>
            <input type="text" class="form-control" name="mobile" id="mobile" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
            </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
        </br>
            <p>have an account? <a href="{% url "login" %}">login here</a></p>
        </form>
    </div>
</div>
{% endblock body %}